# Using Databases and SQLite

Helpful tools: 
* SQLite Studio (multi-platform)
https://sqlitestudio.pl/index.rvt?act=download

* SQL Browser
https://sqlitebrowser.org/

Link to helpful SQL commands: 
https://www.w3schools.com/sql/sql_syntax.asp

In [2]:
# Creates a SQLite database called music.sqlite
import sqlite3
conn = sqlite3.connect('music.sqlite') 
cur = conn.cursor()

# Delete Tracks table (if exists), then create a table with two fields (title and plays)
cur.execute('DROP TABLE IF EXISTS Tracks') 
cur.execute('CREATE TABLE Tracks (title TEXT, plays INTEGER)') 
conn.close()

In [3]:
conn = sqlite3.connect('music.sqlite') 

# Get a "file handle" to the database
cur = conn.cursor()

# Create two new records in the Tracks table
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Thunderstruck', 20))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('My Way', 15))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Who can it be now?', 55))
cur.execute('INSERT INTO Tracks (title, plays) VALUES (?, ?)', ('Party on Fifth Ave.', 80))

# "Save" the records
conn.commit()

print('Tracks:') 

# Return all records (title, plays fields) from Tracks table into the cursor
cur.execute('SELECT title, plays FROM Tracks') 

# iterate through the rows
for row in cur:
    print(row)

# Delete all rows with values in the plays field that are less than 100
cur.execute('DELETE FROM Tracks WHERE plays > 100') 
conn.commit()

# Remove the cursor object from memory
cur.close()

Tracks:
('Thunderstruck', 20)
('My Way', 15)
('Who can it be now?', 55)
('Party on Fifth Ave.', 80)